# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
frontend/.next/
frontend/out/

# Production
build/
dist/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*

# Local env files
.env
.env*.local
backend/.env

# Vercel
.vercel

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
backend/venv/
*.egg-info/
.eggs/

# IDE
.vscode/
.idea/
